<div class="table-responsive">
  <table class="table table-hover">
    
      {% if doctors %}
        <thead class="">
          <th>
            CRM
          </th>
          <th>
            Especialidade
          </th>
          <th>
            Nome
          </th>
          <th>
            Endereço
          </th>
          <th>
            Telefone
          </th>
          <th>
            Email
          </th>
          <th>
          </th>
          <tbody>
        </thead>
        {% for doctor in doctors %}
          <tr>
            <td>{{ doctor.crm }}</td>
            <td>{{ doctor.specialty }}</td>
            <td>{{ doctor.name }}</td>
            <td>{{ doctor.address }}</td>
            <td>{{ doctor.phone }}</td>
            <td>{{ doctor.email }}</td>
            <td>
              <button type="button" class="btn btn-outline-info">Editar</button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      {% endif %}

      {% if laboratories %}
        <thead class="">
          <th>
            CNPJ
          </th>
          <th>
            Nome
          </th>
          <th>
            Endereço
          </th>
          <th>
            Telefone
          </th>
          <th>
            Email
          </th>
          <th>
          </th>
          <tbody>
        </thead>
        {% for laboratory in laboratories %}
          <tr>
            <td>{{ laboratory.cnpj }}</td>
            <td>{{ laboratory.name }}</td>
            <td>{{ laboratory.address }}</td>
            <td>{{ laboratory.phone }}</td>
            <td>{{ laboratory.email }}</td>
            <td>
              <button type="button" class="btn btn-outline-info">Editar</button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      {% endif %}

      {% if exams %}
        <thead class="">
          <th>
            Data
          </th>
          <th>
            Laboratório
          </th>
          <th>
            Paciente
          </th>
          <th>
            Tipo de Exame
          </th>
          <th>
            Resultado
          </th>
          <th>
          </th>
          <tbody>
        </thead>
        {% for exam in exams %}
          <tr>
            <td>{{ exam.date }}</td>
            <td>{{ exam.laboratory }}</td>
            <td>{{ exam.patient }}</td>
            <td>{{ exam.type }}</td>
            <td>{{ exam.result }}</td>
            <td>
              <button type="button" class="btn btn-outline-info">Editar</button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      {% endif %}

      {% if patients %}
        <thead class="">
          <th>
            Nome
          </th>
          <th>
            Endereço
          </th>
          <th>
            Telefone
          </th>
          <th>
            E-mail
          </th>
          <th>
            Gênero
          </th>
          <th>
            Idade
          </th>
          <th>
            CPF
          </th>
          <tbody>
        </thead>
        {% for patient in patients %}
          <tr>
            <td>{{ patient.name }}</td>
            <td>{{ patient.address }}</td>
            <td>{{ patient.phone }}</td>
            <td>{{ patient.email }}</td>
            <td>{{ patient.gender }}</td>
            <td>{{ patient.age }}</td>
            <td>{{ patient.cpf }}</td>
            <td>
              <button type="button" class="btn btn-outline-info">Editar</button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      {% endif %}

      {% if medical_appointments %}
        <thead class="">
          <th>
            Data
          </th>
          <th>
            Médico
          </th>
          <th>
            Paciente
          </th>
          <th>
            Prescrição
          </th>
          <th>
            Observações
          </th>
          <tbody>
        </thead>
        {% for medical_appointment in medical_appointments %}
          <tr>
            <td>{{ medical_appointment.date }}</td>
            <td>{{ medical_appointment.doctor }}</td>
            <td>{{ medical_appointment.patient }}</td>
            <td>{{ medical_appointment.prescription }}</td>
            <td>{{ medical_appointment.observations }}</td>
            <td>
              <button type="button" class="btn btn-outline-info">Editar</button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      {% endif %}
  </table>
</div>