<div class="table-responsive">
    <table class="table table-hover">
        <thead class="">
            <th>
              CNPJ
            </th>
            <th>
              Nome
            </th>
            <th>
              Endereço
            </th>
            <th>
              Telefone
            </th>
            <th>
              Email
            </th>
            <th>
            </th>
        </thead>
        <tbody>
            {% for laboratory in laboratories %}
            <tr>
                <td>{{ laboratory.cnpj }}</td>
                <td>{{ laboratory.name }}</td>
                <td>{{ laboratory.address }}</td>
                <td>{{ laboratory.phone }}</td>
                <td>{{ laboratory.email }}</td>
                <td>
                <button type="button" id="{{ laboratory.id }}" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#formModalEdit" onclick="editLaboratory(this, 'buscar-by-id/')">Editar</button>
                </td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
</div>